r_dir_file(bluetooth, system_file)
r_dir_file(bluetooth, bluetooth_efs_file)

allow hal_bluetooth_default smd_device:chr_file rw_file_perms;
allow hal_bluetooth_default efs_file:dir search;
r_dir_file(hal_bluetooth_default, bluetooth_efs_file)
allow hal_bluetooth_default wifi_data_file:dir search;
allow hal_bluetooth_default wifi_data_file:file r_file_perms;

type btnvtool, domain;
type btnvtool_exec, exec_type, file_type;
init_daemon_domain(btnvtool)
allow btnvtool efs_file:dir search;
allow btnvtool bluetooth_efs_file:dir create_dir_perms;
allow btnvtool bluetooth_efs_file:file create_file_perms;
