type firmware_file, fs_type, contextmount_type;
type qmuxd_socket, file_type;
type netmgrd_socket, file_type;
type wifi_efs_file, file_type;
type persist_file, file_type;
type subsys_device, dev_type;
