allow hal_sensors_default self:socket create_socket_perms;
allowxperm hal_sensors_default self:socket ioctl { 0xc300-0xc305 };

unix_socket_connect(hal_sensors_default, sensors, sensors)

allow hal_sensors_default sensors_data_file:dir create_dir_perms;
allow hal_sensors_default sensors_data_file:file create_file_perms;
allow hal_sensors_default efs_file:dir r_dir_perms;
allow hal_sensors_default efs_file:file r_file_perms;
allow hal_sensors_default persist_file:dir search;
allow hal_sensors_default sensors_persist_file:dir r_dir_perms;
allow hal_sensors_default sensors_persist_file:file r_file_perms;

allow hal_sensors_default sensors_device:chr_file rw_file_perms;
allow hal_sensors_default input_device:dir r_dir_perms;
allow hal_sensors_default input_device:chr_file rw_file_perms;
allow hal_sensors_default input_device:lnk_file r_file_perms;
allow hal_sensors_default smd_device:chr_file rw_file_perms;
allow hal_sensors_default smem_log_device:chr_file rw_file_perms;
allow hal_sensors_default qdsp_device:chr_file r_file_perms;
allow hal_sensors_default dsp_device:chr_file r_file_perms;
allow hal_sensors_default sysfs_sensors:dir r_dir_perms;
allow hal_sensors_default sysfs_sensors:file rw_file_perms;
allow hal_sensors_default sysfs_sensors:lnk_file r_file_perms;

r_dir_file(hal_sensors_default, adsprpcd_file)
r_dir_file(hal_sensors_default, firmware_file)
r_dir_file(hal_sensors_default, system_file)
r_dir_file(hal_sensors_default, vendor_file)
