type netmgrd, domain;
type netmgrd_exec, exec_type, file_type;
init_daemon_domain(netmgrd)
net_domain(netmgrd)

allow netmgrd self:capability { dac_override fsetid net_admin net_bind_service net_raw setgid setpcap setuid sys_module };
allow netmgrd self:netlink_socket create_socket_perms_no_ioctl;
allow netmgrd self:netlink_route_socket { bind create getattr nlmsg_read nlmsg_write read setopt write };
allow netmgrd self:rawip_socket { create getopt setopt write };
allow netmgrd self:socket create_socket_perms;
allow netmgrd self:udp_socket create_socket_perms;
allowxperm netmgrd self:socket ioctl { 0xc300-0xc305 };
allowxperm netmgrd self:udp_socket ioctl priv_sock_ioctls;
allowxperm netmgrd self:udp_socket ioctl { 0x89f1-0x89fd };
allow netmgrd qmuxd_socket:dir create_dir_perms;
unix_socket_connect(netmgrd, qmuxd, qmuxd)
allow netmgrd qmuxd_socket:sock_file { create getattr read setattr unlink write };
allow netmgrd netmgrd_socket:dir create_dir_perms;
allow netmgrd netmgrd_socket:sock_file create_file_perms;
allow netmgrd diag_device:chr_file rw_file_perms;
allow netmgrd kernel:system module_request;
allow netmgrd net_data_file:dir r_dir_perms;
allow netmgrd net_data_file:file r_file_perms;
unix_socket_connect(netmgrd, netd, netd)
allow netmgrd proc_net:file rw_file_perms;
allow netmgrd sysfs:file rw_file_perms;
allow netmgrd sysfs:dir r_dir_perms;
allow netmgrd shell_exec:file rx_file_perms;
allow netmgrd system_file:file rx_file_perms;
allow netmgrd toolbox_exec:file rx_file_perms;
allow netmgrd vendor_toolbox_exec:file rx_file_perms;
allow netmgrd vendor_toolbox_exec:file execute_no_trans;
