binder_use(rild)
allow rild qmuxd_socket:dir create_dir_perms;
unix_socket_connect(rild, qmuxd, qmuxd)
allow rild qmuxd_socket:sock_file { create getattr read setattr unlink write };
allow rild netmgrd_socket:dir r_dir_perms;
unix_socket_connect(rild, netmgrd, netmgrd)
allow rild netmgrd_socket:sock_file { getattr read write };
binder_call(rild, per_mgr)
binder_call(per_mgr, rild)
allow rild binder_per_mgr_service:service_manager find;
allow rild self:socket ioctl;
allowxperm rild self:socket ioctl { 0xc300-0xc305 };
