type rmt_storage, domain;
type rmt_storage_exec, exec_type, file_type;
init_daemon_domain(rmt_storage)
r_dir_file(rmt_storage, system_file)
allow rmt_storage smd_device:chr_file rw_file_perms;
allow rmt_storage self:capability { dac_override setgid sys_admin };
wakelock_use(rmt_storage)
