allow surfaceflinger debugfs_kgsl_mem:dir search;
allow surfaceflinger diag_device:chr_file rw_file_perms;
allow surfaceflinger mdss_rotator_device:chr_file rw_file_perms;
